<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.polytech.sportable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportable">
        <service
            android:name=".services.PracticeCollector"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity android:name=".activities.settings.UserInfoActivity" />
        <activity android:name=".activities.freerun.FreeRunStatActivity" />
        <activity android:name=".activities.freerun.FreeRunActivity" />
        <activity
            android:name=".activities.StatActivity"
            android:label="@string/title_activity_stat"
            android:theme="@style/Theme.Sportable.NoActionBar" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>